ul {
  background-color: #f3f3f3;
  padding: 0;
  list-style: none;
  width: 100%;
  display: inline-block;
}

.cook-book-item {
  margin: 0;
  display: flex;
  -webkit-box-align: normal;
  -webkit-align-items: normal;
  -ms-flex-align: normal;
  align-items: normal;
  padding: 0 20px;
  background-color: #d4edda;
  border-bottom: 1px solid #c3e6cb;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .recipe-item {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;
    color: #155724;

    .recipe-title {
      min-height: 59px;
      text-align: left;
      font-weight: 700;
    }

    .fa-ban {
      color: #9e9e9e;
    }
  }

  .handler {
    position: relative;
    top: 1px;
    display: block;
    width: 18px;
    height: 11px;
    opacity: .25;
    margin-right: 20px;
    margin-top: 20px;
    cursor: row-resize;
    background: -webkit-linear-gradient(top,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
    background: linear-gradient(180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
  }
}
